<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node name="rviz" pkg="rviz" type="rviz" output="screen"
           args="-d $(find am_traj)/config/traj.rviz">
    </node>

    <node pkg="am_traj" type="am_traj_node" name="example0" output="log">
        <!-- node parameters -->
        <rosparam file="$(find am_traj)/config/example0_params.yaml" command="load" />
    </node>

    <node pkg="rnw_ros" type="visualize_traj_node" name="traj_visualization" output="screen" required="true">
        <remap from="~poly_traj" to="/poly_traj_test"/>
    </node>

</launch>
