SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="hIUweL27Lv", SYMLINK+="tty.uwb.drone1", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="mDDFPhJvSI", SYMLINK+="tty.uwb.drone2", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="v8fTUbFQKc", SYMLINK+="tty.uwb.slave", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="wfFseVXF4M", SYMLINK+="tty.dji.n3", MODE="0666"