<launch>
    <arg name="uav_topic" value="/uwb_vicon_odom"/>
    <arg name="cone_topic" value="/uwb_vicon_odom_cone"/>
    <node pkg="uart_odom" type="uart_odom" name="uart_odom_client" output="screen">
        <remap from="~out_odom_uav" to="$(arg uav_topic)"/>
        <remap from="~out_odom_cone" to="$(arg cone_topic)"/>
        <rosparam command="load" file="$(find uart_odom)/config/uart_odom_config.yaml"/>
        <param name="work_mode" value="real-time"/>
        <param name="js_ctrl_mode" value="feedback"/>
        <param name="serial_port" value="/dev/tty.uwb.slave"/>	
    </node>
    <node pkg="uart_odom" type="pub_tf_node" name="pub_tf_node" output="screen"/>
</launch>
