<launch>

    <arg name="uavname" default="fpv" />

    <arg name="imu_topic" default="/djiros/imu"/>

    <arg name="topic_odom_uav" default="/odom/uav"/>

    <!-- Using dynamic_reconfigure will cause timeout -->
    <!-- Increase from 0.1 default to 0.5 to avoid entering atti mode -->
    <param name="ctrl_cmd_stream_timeout" value="0.5"/>

    <node pkg="djiros" type="djiros_node" name="djiros" output="screen" launch-prefix="" required="true">
        <param name="log_level" type="string" value="info"/>
        <param name="serial_name" type="string" value="/dev/tty.dji.n3"/>
        <param name="baud_rate" type="int" value="921600"/>
        <param name="app_id"        type="int"      value="1024795"/>
        <param name="app_version"   type="int"      value="1"/>
        <param name="enc_key"       type="string"   value="a5f11a418f3dcdc39c4a1efb35a9dd4545e47b56cae9d98c988468277a9305dc"/>
        <param name="sensor_mode" type="bool" value="false"/>
        <param name="align_with_fmu" type="bool" value="false"/>
    </node>

    <node pkg="uwb_transceiver" type="uwb_transceiver_node" name="uwb_slave_drone2" output="screen">
      <rosparam command="load" file="$(find uwb_transceiver)/config/config.yaml" />
      <param name="serial_port" value="/dev/tty.uwb.slave"/>
      <remap from="~odom" to="$(arg topic_odom_uav)"/>
      <remap from="~position_cmd" to="/position_cmd"/>
      <remap from="~n3ctrl" to="/n3ctrl/n3ctrl_state"/>
      <param name="role" type="int" value="2"/> <!--slave-->
      <param name="debug/m_debug_packet_info" type="int" value="0"/>
    </node>
    
    <node pkg="n3ctrl" type="n3ctrl_node" name="n3ctrl" output="screen" required="true">
        <!--subscribers-->
		<remap from="~joy" to="/djiros/rc" />
        <remap from="~odom" to="$(arg topic_odom_uav)" />
		<remap from="~imu" to="/djiros/imu" />
		<remap from="~cmd" to="/position_cmd" />
        <!--publishers-->
		<remap from="~desire_pose" to="/desire_pose" />
		<remap from="~traj_start_trigger" to="/traj_start_trigger" />
		<remap from="~ctrl" to="/djiros/ctrl" />
        <!--params-->
        <rosparam command="load" file="$(find n3ctrl)/config/ctrl_param_$(arg uavname).yaml" />
        <param name="work_mode" value="real-time" />
        <param name="js_ctrl_mode" value="feedback" />
        <param name="pub_debug_msgs" type="bool" value="true"/>
    </node>

    <node pkg="rnw_ros" type="pub_euler_angles_node" name="pub_euler_angles_node">
        <remap from="~odom" to="$(arg topic_odom_uav)"/>
        <remap from="~imu" to="/djiros/imu"/>
    </node>

    <node name="record" pkg="rosbag" type="record" output="screen" args="-a" />
    
</launch>
