<launch>

<!--    <arg name="vicon_topic" value="/pos_vel_mocap/odom_TA"/>-->
    <arg name="imu_topic" default="/djiros/imu"/>
    <arg name="uav_topic" value="/uwb_vicon_odom"/>
    <arg name="cone_topic" value="/uwb_vicon_odom_cone"/>
    <arg name="vins_topic" value="/vins_estimator/imu_propagate"/>

    <node pkg="uart_odom" type="uart_odom" name="uart_odom_client" output="screen">
        <remap from="~out_odom_uav" to="$(arg uav_topic)"/>
        <remap from="~out_odom_cone" to="$(arg cone_topic)"/>
        <rosparam command="load" file="$(find uart_odom)/config/uart_odom_config_client.yaml"/>
        <param name="work_mode" value="real-time"/>
        <param name="js_ctrl_mode" value="feedback"/>
    </node>

    <node pkg="rnw_ros" type="pub_frames_node" name="pub_frames_node" output="screen">
        <remap from="~imu" to="$(arg imu_topic)"/>
        <remap from="~uav" to="$(arg uav_topic)"/>
        <remap from="~cone" to="$(arg cone_topic)"/>
        <remap from="~vins" to="$(arg vins_topic)"/>
        <rosparam command="load" file="$(find rnw_ros)/config/cone.yaml"/>
    </node>

    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
          args="--multiplot-config $(find rnw_ros)/rqt_multiplot.xml --multiplot-run-all"/>

</launch>
