<launch>

    <arg name="imu_topic" default="/djiros/imu"/>
    <arg name="uav_topic" value="/pos_vel_mocap/odom_TA"/>
    <arg name="cone_topic" value="/pos_vel_mocap/odom_cone"/>
    <arg name="vins_topic" value="/vins_estimator/imu_propagate"/>

    <node pkg="mocap_optitrack" type="mocap_node" name="mocap_node" respawn="false" launch-prefix="" required="true" output="log">
        <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
    </node>

    <node pkg="pos_vel_mocap" type="pos_vel_mocap" name="pos_vel_mocap" output="screen" required="true">
        <rosparam file="$(find pos_vel_mocap)/config/calib.yaml" command="load" />
    </node>

    <node pkg="rnw_ros" type="visualize_cone_node" name="visualize_cone_node" output="screen" required="true">
        <remap from="~odom" to="$(arg cone_topic)"/>
        <param name="clear_after_n_sec" type="double" value="1"/>
        <param name="cone_color_r" type="double" value="0"/>
        <param name="cone_color_g" type="double" value="1"/>
        <param name="cone_color_b" type="double" value="0"/>
        <rosparam command="load" file="$(find rnw_ros)/config/rnw_config.yaml"/>
    </node>

    <node pkg="rnw_ros" type="pub_frames_node" name="pub_frames_node" output="screen">
        <remap from="~imu" to="$(arg imu_topic)"/>
        <remap from="~uav" to="$(arg uav_topic)"/>
        <remap from="~cone" to="$(arg cone_topic)"/>
        <remap from="~vins" to="$(arg vins_topic)"/>
        <rosparam command="load" file="$(find rnw_ros)/config/rnw_config.yaml"/>
    </node>

    <node pkg="uart_odom" type="uart_odom" name="uart_odom" output="screen">
        <remap from="~odom" to="$(arg uav_topic)" />
        <remap from="~odom_cone" to="$(arg cone_topic)" />
        <rosparam command="load" file="$(find uart_odom)/config/uart_odom_config.yaml" />
        <param name="work_mode" value="real-time" />
        <param name="js_ctrl_mode" value="feedback" />
        <param name="serial_port" value="/dev/tty.uwb.master"/>
    </node>

<!--    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"-->
<!--          args="&#45;&#45;multiplot-config $(find rnw_ros)/config/multiplot_insert.xml &#45;&#45;multiplot-run-all"/>-->

    <node name="rviz_traj" pkg="rviz" type="rviz" output="log" args="-d $(find rnw_ros)/config/traj.rviz" />

</launch>
