<launch>

<!--    <arg name="vicon_topic" value="/pos_vel_mocap/odom_TA"/>-->

    <arg name="imu_topic" default="/djiros/imu"/>
    <arg name="vicon_topic" value="/uwb_vicon_odom"/>
    <arg name="joy_ctrl_topic" value="/djiros/ctrl"/>

    <node pkg="rnw_ros" type="dbg_atti_loop_node" name="dbg_atti_loop_node" output="screen">
        <remap from="~imu" to="$(arg imu_topic)"/>
        <remap from="~joy_ctrl" to="$(arg joy_ctrl_topic)"/>
    </node>

<!--    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"-->
<!--          args="&#45;&#45;multiplot-config $(find rnw_ros)/rqt_multiplot.xml &#45;&#45;multiplot-run-all"/>-->

    <node name="rosbag_play" pkg="rosbag" type="play" respawn="false" required="true" args="-r 10 /home/sheep/Dropbox/rosbags/interval3_reduced.bag"/>

    <node name="rosbag_record" pkg="rosbag" type="record" respawn="false" required="true" args="-o /home/sheep/ -a" output="screen"/>

</launch>
