<launch>

	<arg name="uavname" default="fpv" />
    <arg name="odom_topic" value="/uwb_vicon_odom" />
    <arg name="imu_topic" default="/djiros/imu"/>
    <arg name="cone_topic" value="/uwb_vicon_odom_cone" />

    <!-- Using dynamic_reconfigure will cause timeout -->
    <!-- Increase from 0.1 default to 0.5 to avoid entering atti mode -->
    <param name="ctrl_cmd_stream_timeout" value="0.5"/>

    <node pkg="djiros" type="djiros_node" name="djiros" output="screen" launch-prefix="" required="true">
        <param name="log_level" type="string" value="info"/>
        <param name="serial_name" type="string" value="/dev/tty.dji.n3"/>
        <param name="baud_rate" type="int" value="921600"/>
        <param name="app_id"        type="int"      value="1024795"/>
        <param name="app_version"   type="int"      value="1"/>
        <param name="enc_key"       type="string"   value="a5f11a418f3dcdc39c4a1efb35a9dd4545e47b56cae9d98c988468277a9305dc"/>
        <param name="sensor_mode" type="bool" value="false"/>
        <param name="align_with_fmu" type="bool" value="false"/>
    </node>

    <node pkg="uart_odom" type="uart_odom" name="uart_odom_client" output="log" respawn="true">
        <!--publishers-->
        <remap from="~out_odom_uav" to="$(arg odom_topic)"/>
        <remap from="~out_odom_cone" to="$(arg cone_topic)"/>
        <!--params-->
        <rosparam command="load" file="$(find uart_odom)/config/uart_odom_config.yaml"/>
        <param name="work_mode" value="real-time"/>
        <param name="js_ctrl_mode" value="feedback"/>
        <param name="serial_port" value="/dev/tty.uwb.slave"/>
    </node>

    <node pkg="n3ctrl" type="n3ctrl_node" name="n3ctrl" output="screen" required="true">
        <!--subscribers-->
		<remap from="~joy" to="/djiros/rc" />
        <remap from="~odom" to="$(arg odom_topic)" />
		<remap from="~imu" to="/djiros/imu" />
		<remap from="~cmd" to="/position_cmd" />
        <!--publishers-->
		<remap from="~desire_pose" to="/desire_pose" />
		<remap from="~traj_start_trigger" to="/traj_start_trigger" />
		<remap from="~ctrl" to="/djiros/ctrl" />
        <!--params-->
        <rosparam command="load" file="$(find n3ctrl)/config/ctrl_param_$(arg uavname).yaml" />
        <param name="work_mode" value="real-time" />
        <param name="js_ctrl_mode" value="feedback" />
        <param name="pub_debug_msgs" type="bool" value="true"/>
	</node>

    <arg name="topic_trigger_insert" value="/rnw/trigger/insert" />
    <arg name="topic_trigger_zigzag" value="/rnw/trigger/zigzag" />
    <arg name="topic_trigger_topple" value="/rnw/trigger/topple" />
    <arg name="topic_poly_traj" value="/rnw/poly_traj" />

    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="~autorepeat_rate" value="0" />
    </node>

    <node pkg="rnw_ros" type="gamepad_trigger_node" name="gamepad_trigger_node" output="screen">
        <remap from="~A" to="$(arg topic_trigger_insert)"/>
        <remap from="~X" to="$(arg topic_trigger_zigzag)"/>
        <remap from="~Y" to="$(arg topic_trigger_topple)"/>
    </node>

    <node pkg="rnw_ros" type="rnw_controller_node" name="rnw_controller_node" output="screen">
        <remap from="~trigger_insert" to="$(arg topic_trigger_insert)"/>
        <remap from="~trigger_zigzag" to="$(arg topic_trigger_zigzag)"/>
        <remap from="~trigger_topple" to="$(arg topic_trigger_topple)"/>
        <remap from="~poly_traj" to="$(arg topic_poly_traj)"/>
        <rosparam command="load" file="$(find rnw_ros)/config/rnw_config.yaml"/>
    </node>

    <node pkg="rnw_ros" type="rnw_traj_server_node" name="rnw_traj_server_node" output="screen">
        <!--subscribers-->
        <remap from="~vicon" to="$(arg odom_topic)"/>
        <remap from="~poly_traj" to="$(arg topic_poly_traj)"/>
    </node>

    <node pkg="rnw_ros" type="pub_frames_node" name="pub_frames_node" output="screen">
        <!--subscribers-->
        <remap from="~imu" to="$(arg imu_topic)"/>
        <remap from="~uav" to="$(arg odom_topic)"/>
        <remap from="~cone" to="$(arg cone_topic)"/>
        <remap from="~vins" to="/vins_estimator/imu_propagate"/>
        <!--params-->
        <rosparam command="load" file="$(find rnw_ros)/config/rnw_config.yaml"/>
    </node>

    <node name="record" pkg="rosbag" type="record" output="screen" args="-a -x '/traj/(.*)'" />

    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
          args="--multiplot-config $(find rnw_ros)/config/rqt_multiplot_ctrl_err.xml --multiplot-run-all"/>

</launch>
