<?xml version="1.0" encoding="utf-8"?>
<launch>

    <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find rnw_ros)/config/traj.rviz"/>

    <arg name="topic_poly_traj" value="/rnw/poly_traj" />
    <arg name="topic_odom_cone" value="/pos_vel_mocap/odom_cone" />

    <node pkg="rnw_ros" type="visualize_traj_node" name="traj_visualization" output="screen" required="true">
        <remap from="~poly_traj" to="$(arg topic_poly_traj)"/>
        <param name="lift_dt" type="double" value="0.05"/>
        <param name="length_g" type="double" value="0.5"/>
        <param name="clear_after_n_sec" type="double" value="0"/>
        <param name="use_sim_time" type="bool" value="true"/>
    </node>

    <node pkg="rnw_ros" type="visualize_cone_node" name="visualize_cone_node" output="screen" required="true">
        <remap from="~odom" to="$(arg topic_odom_cone)"/>
        <param name="cone_color_r" type="double" value="0"/>
        <param name="cone_color_g" type="double" value="1"/>
        <param name="cone_color_b" type="double" value="0"/>
        <rosparam command="load" file="$(find rnw_ros)/config/rnw_config.yaml"/>
    </node>

</launch>
