<launch>

    <arg name="drone_name" default="drone2" />

	<arg name="uavname" default="hil"/>
    <arg name="imu_topic" default="/djiros/imu"/>

    <node pkg="djiros" type="djiros_node" name="djiros" output="log" launch-prefix="" required="true">
        <param name="log_level" type="string" value="info"/>
        <param name="serial_name" type="string" value="/dev/tty.dji.n3"/>
        <param name="baud_rate" type="int" value="921600"/>
        <param name="app_id"        type="int"      value="1024795"/>
        <param name="app_version"   type="int"      value="1"/>
        <param name="enc_key"       type="string"   value="a5f11a418f3dcdc39c4a1efb35a9dd4545e47b56cae9d98c988468277a9305dc"/>
        <param name="sensor_mode" type="bool" value="false"/>
        <param name="align_with_fmu" type="bool" value="false"/>
    </node>

    <node pkg="rnw_ros" type="pub_simulated_sensors" name="pub_simulated_sensors">
        <remap from="~gps" to="/djiros/gps" />
        <remap from="~imu_in" to="/djiros/imu" />
        <remap from="~odom" to="/$(arg drone_name)/odom" />
        <remap from="~imu_out" to="/djiros/imu_sim" />
        <param name="odom_latency_ms" type="double" value="15"/>
    </node>

    <node pkg="n3ctrl" type="n3ctrl_node" name="n3ctrl" output="screen" required="true">
        <!--subscribers-->
		<remap from="~joy" to="/djiros/rc" />
        <remap from="~odom" to="/$(arg drone_name)/odom" />
		<remap from="~imu" to="/djiros/imu_sim" />
		<remap from="~cmd" to="/$(arg drone_name)/position_cmd" />
        <!--publishers-->
		<remap from="~desire_pose" to="/desire_pose" />
		<remap from="~traj_start_trigger" to="/traj_start_trigger" />
        <remap from="~ctrl" to="/djiros/ctrl" />
        <remap from="~n3ctrl_state" to="/$(arg drone_name)/state" />
        <!--params-->
        <rosparam command="load" file="$(find n3ctrl)/config/ctrl_param_$(arg uavname).yaml" />
        <param name="work_mode" value="real-time" />
        <param name="js_ctrl_mode" value="feedback" />
        <param name="pub_debug_msgs" type="bool" value="true"/>
    </node>

    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="~autorepeat_rate" value="0" />
    </node>

    <node pkg="rnw_ros" type="gamepad_trigger_node" name="gamepad" output="screen"/>

    <!--  generate control cmd for the drones  -->

    <node pkg="rnw_ros" type="individual_flight_test_node" name="individual_flight_test_node" output="screen">
        <param name="drone_name" type="string" value="$(arg drone_name)"/>
    </node>

    <node pkg="rnw_ros" type="traj2cmd_node" name="traj2cmd_$(arg drone_name)" output="screen" required="true">
        <remap from="~traj" to="/$(arg drone_name)/traj"/>
        <remap from="~odom" to="/$(arg drone_name)/odom"/>
        <remap from="~position_cmd" to="/$(arg drone_name)/position_cmd"/>
    </node>

    <!--  visualization  -->

    <node name="rviz_traj" pkg="rviz" type="rviz" output="log" args="-d $(find rnw_ros)/config/swarm.rviz" />

    <node pkg="rnw_ros" type="visualize_pos_cmd_node" name="sim_cmd" output="screen" required="true">
        <remap from="~position_cmd" to="/$(arg drone_name)/position_cmd"/>
    </node>

    <node pkg="rnw_ros" type="odom2tf_node" name="FLU_tf" output="screen">
        <remap from="~odom" to="/$(arg drone_name)/odom"/>
        <param name="name" value="FLU" />
    </node>

    <node pkg="rnw_ros" type="odom2tf_node" name="$(arg drone_name)_tf" output="screen">
        <remap from="~odom" to="/$(arg drone_name)/odom"/>
        <param name="name" value="odom_$(arg drone_name)" />
    </node>

    <node pkg="rnw_ros" type="visualize_pos_cmd_node" name="pos_cmd_viz_$(arg drone_name)" output="screen" required="true">
        <remap from="~position_cmd" to="/$(arg drone_name)/position_cmd"/>
    </node>

    <node pkg="rnw_ros" type="visualize_traj_node" name="traj_viz_$(arg drone_name)" output="screen" required="true">
        <param name="lift_dt" type="double" value="0.05"/>
        <param name="length_g" type="double" value="0.5"/>
        <param name="clear_after_n_sec" type="double" value="0"/>
        <remap from="~poly_traj" to="/$(arg drone_name)/traj"/>
    </node>

<!--    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot" output="log" required="true"-->
<!--          args="&#45;&#45;multiplot-config $(find rnw_ros)/config/rqt_multiplot_indi.xml &#45;&#45;multiplot-run-all"/>-->

    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot" output="log" required="true"
          args="--multiplot-config $(find rnw_ros)/config/rqt_multiplot_tuning_drone2.xml --multiplot-run-all"/>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

</launch>
