<launch>

	<arg name="uavname" default="hil" />
    <arg name="imu_topic" default="/djiros/imu"/>
    <arg name="topic_odom_uav" default="/odom/uav"/>

    <remap from="/uwb_vicon_odom" to="$(arg topic_odom_uav)"/>

    <node pkg="djiros" type="djiros_node" name="djiros" output="log" launch-prefix="" required="true">
        <param name="log_level" type="string" value="info"/>
        <param name="serial_name" type="string" value="/dev/tty.dji.n3"/>
        <param name="baud_rate" type="int" value="921600"/>
        <param name="app_id"        type="int"      value="1024795"/>
        <param name="app_version"   type="int"      value="1"/>
        <param name="enc_key"       type="string"   value="a5f11a418f3dcdc39c4a1efb35a9dd4545e47b56cae9d98c988468277a9305dc"/>
        <param name="sensor_mode" type="bool" value="false"/>
        <param name="align_with_fmu" type="bool" value="false"/>
    </node>

    <param name="ctrl_cmd_stream_timeout" value="0.5"/>

    <node pkg="n3ctrl" type="n3ctrl_node" name="n3ctrl" output="screen" required="true">
        <!--subscribers-->
		<remap from="~joy" to="/djiros/rc" />
        <remap from="~odom" to="$(arg topic_odom_uav)" />
		<remap from="~imu" to="/djiros/imu_out" />
		<remap from="~cmd" to="/position_cmd" />
        <!--publishers-->
		<remap from="~desire_pose" to="/desire_pose" />
		<remap from="~traj_start_trigger" to="/traj_start_trigger" />
		<remap from="~ctrl" to="/djiros/ctrl" />
        <!--params-->
        <rosparam command="load" file="$(find n3ctrl)/config/ctrl_param_$(arg uavname).yaml" />
        <param name="work_mode" value="real-time" />
        <param name="js_ctrl_mode" value="feedback" />
        <param name="pub_debug_msgs" type="bool" value="true"/>
    </node>

    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="~autorepeat_rate" value="0" />
    </node>

    <node pkg="rnw_ros" type="gamepad_trigger_node" name="gamepad" output="screen"/>

    <!-- odom for the drones, simulated and fake ones   -->

    <node pkg="rnw_ros" type="pub_simulated_sensors" name="pub_simulated_sensors">
        <remap from="~gps" to="/djiros/gps" />
        <remap from="~imu_in" to="/djiros/imu" />
        <remap from="~imu_out" to="/djiros/imu_sim" />
        <remap from="~odom" to="$(arg topic_odom_uav)" />
    </node>

    <!--  visualization  -->

    <node name="rviz_traj" pkg="rviz" type="rviz" output="log" args="-d $(find rnw_ros)/config/flight.rviz" />

    <node pkg="rnw_ros" type="odom2tf_node" name="sim_tf" output="screen">
        <remap from="~odom" to="$(arg topic_odom_uav)"/>
        <param name="name" value="sim_tf" />
    </node>

    <node pkg="rnw_ros" type="visualize_disturbance_node" name="visualize_disturbance_node" required="false">
        <remap from="~odom" to="$(arg topic_odom_uav)"/>
        <remap from="~disturbance" to="/n3ctrl/disturbance"/>
    </node>

    <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot" output="log" required="true"
          args="--multiplot-config $(find rnw_ros)/config/rqt_multiplot_n3ctrl.xml --multiplot-run-all"/>

</launch>
