<?xml version="1.0" encoding="utf-8"?>
<launch>

    <node name="rosbag" pkg="rosbag" type="play" args=" /home/sheep/Dropbox/rosbags/2020-08-16-23-44-01.bag -s 20" />

    <node pkg="rnw_ros" type="uav_ekf_node" name="uav_ekf_node" output="screen">
        <remap from="~imu" to="/djiros/imu"/>
        <remap from="~tag_odom" to="/uwb_vicon_odom"/>
    </node>

    <node name="rviz_traj" pkg="rviz" type="rviz" output="log" args="-d $(find rnw_ros)/config/traj.rviz" />

</launch>
